/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Nav ******/

#menu {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.link-nav {
    display: inline-block;
    border-top: 2px solid transparent;
    padding-top: 20px;
}

.link-nav:hover {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}

nav {
    display: flex;
    justify-content: space-between;
}

#logo-booki {
    display: flex;
    height: 25px;
    padding: 30px 0px;
    gap: 10px;
}


/******* Header ********/
h1 {
    padding-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    font-size: x-large;
}

h1+p {
    margin-top: 4px;
}

.search-area {
    display: flex;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    height: 49px;
    width: 377px;
    margin: 35px 0;
}

input,
textarea {
    padding: 10px;
    font-weight: 700;
    font-size: large;
    color: black;
    border: none;
    height: auto;
    width: 100%;
}

input:focus,
textarea:focus {
    outline: none;
}

.fa-location-dot {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    color: #000000;
    width: 30%;
    height: 49px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.button-rechercher {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--main-color);
    color: #ffffff;
    width: 66%;
    height: 49px;
    font-size: large;
    font-weight: bold;
    border: none;
}

.button-rechercher .fa-magnifying-glass {
    color: #ffffff;
}

.button-rechercher .icone {
    display: none;
}

.search-filter,
.info-result {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.search-filter {
    white-space: nowrap;
}

.filter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding: 4px 19px;
    height: 40px;
    gap: 10px;
}

.filter-button:hover {
    background-color: var(--filter-bg-color);
}

.info-result {
    margin: 30px 0;
    gap: 10px;
}

.fa-info {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    order: 1;
}

.hebergements h2 {
    margin: 0;
}

.hebergements-cards a {
    width: 30%;
    margin-top: 30px;
}

.hebergements-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hebergements-cards .card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hebergements-cards .card-subtitle {
    margin: 5px 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 10px;
}

#link-afficher-plus {
    margin-top: 30px;
    font-size: large;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    order: 2;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/******** Activites ************/

.activites h2 {
    padding: 30px;
    margin-top: 50px;
}

.activites a {
    width: 22%;
}

.activites-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.activites-cards .card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin-left: 30px;
    height: 100%;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-content {
    font-size: smaller;
    padding: 0 19px;
}

/******** footer ********/

.foot-note {
    background-color: var(--main-bg-color);
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
}

.column-footer h2 {
    font-size: large;
}

.column-footer {
    padding: 10px;
    margin-left: 15px;
    width: 33%;
}

.column-footer ul {
    list-style: none;
    align-self: flex-start;
    padding: 0;
}

.column-footer li {
    margin: 15px 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    #menu {
        width: 30%;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .search-filter h2 {
        width: 100%;
    }

    .activites-cards img {
        height: 200px;
    }

    .activites a {
        width: 20.75%;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    /* ... */
    .main-container {
        padding: 0;
    }

    header {
        padding: 0 30px;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    #logo-booki {
        width: 100%;
        object-fit: contain;
    }

    #menu {
        width: 100%;
    }

    .link-nav {
        padding: 15px;
        text-align: center;
        width: 50%;
        border-top: none;
        border-bottom: 2px solid var(--main-bg-color);
    }

    .link-nav:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
        color: var(--main-color);
    }

    h1 {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .search-area {
        width: 100%;
    }

    .search-filter h2 {
        margin: 0;
    }

    .button-rechercher {
        width: 25%;
        border-radius: 15px;
    }

    .button-rechercher .texte {
        display: none;
    }

    .button-rechercher .icone {
        display: inline;
    }

    .filter-button {
        width: 34%;
    }

    .info-result {
        width: 100%;
        flex-wrap: nowrap;
        font-size: 15px;
        margin-bottom: 0;
    }

    .fa-info {
        font-size: small;
        width: 32px;
    }

    .hebergements-and-populaires .populaires {
        width: 100%;
        order: 1;
        border-radius: 0;
        margin: 15px 0;
    }

    .populaires-cards {
        flex-wrap: wrap;
        width: 100%;
    }

    .populaires-cards .card {
        margin-top: 15px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .hebergements-and-populaires .hebergements {
        width: 100%;
        order: 2;
        background-color: #ffffff;
        padding: 0 30px;
        margin-top: 15px;
    }

    .hebergements-and-populaires .hebergements h2 {
        display: flex;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
    }

    .hebergements-cards {
        margin: 0;
        padding: 0;
    }

    .hebergements-cards a {
        width: 100%;
        margin-top: 15px;
    }

    #link-afficher-plus {
        margin: 15px 0;
    }

    .activites {
        justify-content: flex-start;
        display: flex;
        flex-wrap: wrap;
        padding: 0 30px;
        margin-top: 20px;
    }

    .activites h2 {
        padding: 0;
    }

    .activites-cards {
        margin-top: 15px;
        gap: 15px;
    }

    .activites a {
        width: 100%;
    }

    .activites-cards .card {
        margin: 0;
    }

    .foot-note {
        flex-wrap: wrap;
    }

    .column-footer {
        width: 100%;
    }
}